# Docker
MYSQL_PORT=3313
REDIS_PORT=6379

# DB
DB_HOST=localhost
DB_PORT=3313
DB_NAME=app
DB_USER=app
DB_PASSWORD=app

# Redis
REDIS_HOST=localhost

# AWS S3 (Phase 6에서 사용)
#AWS_ACCESS_KEY=
#AWS_SECRET_KEY=
#AWS_S3_BUCKET=
#AWS_REGION=ap-northeast-2

# JWT (Phase 1에서 사용)
#JWT_SECRET=
