HELP.md
LIBRARIES_CONVENTION_README.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### env ###
.env
.env.*
!.env.example

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Claude Code ###
.claude/
CLAUDE.**.md


## Local
*.local.md
개선_추가사항.md
DSA_Kiosk_연동규격서 31f15a9ef9538034899be53a887175a9.md
DSA_Kiosk 연동규격서 (3) 32e15a9ef953805f868ff3ad0c4bb07c.md
DSA_Kiosk 연동규격서 (1) (1) 33b15a9ef95380a48200d5abe5ffce06.md

### Logs ###
*.log
